[role="alert"] {
  background-color: var(--pomegrante);
  color: var(--white);
  font-weight: bold;
  margin: 0;
  padding: var(--spacing);

  a {
    color: var(--quill-gray);

    &:focus,
    &:hover {
      color: var(--white);
    }
  }
}
