[role="search"] {
  background-color: rgba(from var(--gray) r g b / 5%);
  border-radius: var(--spacing-small);
  margin: 0 auto;
  max-width: calc(24rem + (var(--spacing) * 2));
  padding: var(--spacing);

  .field {
    margin-bottom: var(--spacing);
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: var(--spacing-tiny);
  }

  input {
    border: solid var(--shark);
    border-width: 0 0 0.125rem 0;
    display: block;
    padding: var(--spacing-small);
    width: 100%;

    &:invalid {
      box-shadow: none;

      &:focus {
        border-bottom-color: var(--pomegranate);
      }
    }

    &::placeholder {
      color: var(--gray);
    }
  }

  button {
    background-color: var(--white);
    border: solid var(--shark);
    border-width: 0 0 0.125rem 0;
    display: block;
    font-weight: bold;
    padding: var(--spacing-small);
    width: 100%;

    &:active {
      padding-bottom: calc(var(--spacing-small) - 0.0625rem);
      padding-top: calc(var(--spacing-small) + 0.0625rem);
    }
  }
}
