<form action="/search" method="get" role="search">
  <div class="field">
    <label for="url">Enter a URL to get started:</label>
    <input type="url" id="url" name="url" placeholder="https://…" required>
  </div>

  <button>Search</button>
</form>
