<p>Discover a URL’s IndieAuth, Micropub, Microsub, and Webmention endpoints. Enter a URL into the form below to get started!</p>

<form method="get" action="/search">
  <label for="url">URL</label>
  <input type="url" name="url" id="url" placeholder="https://…" required>

  <button>Submit</button>
</form>
