<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">

  <title>IndieWeb Endpoints</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <header>
    <h1><a href="/" rel="home">IndieWeb Endpoints</a></h1>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <p>IndieWeb Endpoints is freely available under the <a href="https://opensource.org/licenses/MIT" rel="license">MIT License</a>. Source code is available on <a href="https://github.com/jgarber623/indieweb-endpoints.cc" rel="source">GitHub</a>.</p>
  </footer>

</body>
</html>
