@-ms-viewport {
  width: device-width;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--blumline);
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  color: var(--shark);
  font-family: var(--body-font);
  margin: 0;
}

footer,
header,
main {
  display: block;
}

h1,
h2 {
  font-family: var(--title-font);
  font-weight: inherit;
  letter-spacing: 0.0625rem;
  line-height: 1.1;
  margin: 0.67em 0;
}

h1 {
  font-size: 2rem;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  color: var(--pomegranate);

  &:focus,
  &:hover {
    color: var(--rock-spray);
  }
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

kbd {
  font-family: monospace, monospace;
  font-size: 1em;
}

img {
  border-style: none;
}

button,
input {
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
}

button {
  cursor: pointer;
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
