.wrapper {
  margin: 0 auto;
  max-width: 48rem;
}

.app-header {
  background-color: var(--quill-gray);
  padding: var(--spacing-large) var(--spacing);

  h1 {
    margin: 0;
    position: relative;

    a {
      color: var(--shark);
      text-decoration: none;

      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }

    img {
      box-sizing: content-box;
      display: none;
      position: relative;
      top: 0.175rem;
      width: 2rem;

      @include breakpoint(32rem) {
        display: inline-block;
      }

      @include breakpoint(56rem) {
        display: block;
        left: calc(-2rem - var(--spacing-small));
        padding-right: var(--spacing-small);
        position: absolute;
        top: 0.015rem;
      }

      img {
        display: block;
        width: 100%;
      }
    }
  }
}

.app-main {
  background-color: var(--quill-gray);
  min-height: 50vh;
  padding: var(--spacing);
}

[role="alert"] {
  background-color: var(--pomegrante);
  color: var(--white);
  font-weight: bold;
  margin: 0;
  padding: var(--spacing);

  a {
    color: var(--quill-gray);

    &:focus,
    &:hover {
      color: var(--white);
    }
  }
}

[role="search"] {
  margin: 0 auto;
  max-width: 24rem;

  .field {
    margin: var(--spacing) 0;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: var(--spacing-tiny);
  }

  input {
    border: solid var(--shark);
    border-width: 0 0 0.125rem 0;
    display: block;
    padding: var(--spacing-small);
    width: 100%;

    &:invalid {
      box-shadow: none;

      &:focus {
        border-bottom-color: var(--pomegrante);
      }
    }

    &::placeholder {
      color: var(--gray);
    }
  }

  button {
    background-color: var(--white);
    border: solid var(--shark);
    border-width: 0 0 0.125rem 0;
    display: block;
    font-weight: bold;
    padding: var(--spacing-small);
    width: 100%;

    &:active {
      padding-bottom: calc(var(--spacing-small) - 0.0625rem);
      padding-top: calc(var(--spacing-small) + 0.0625rem);
    }
  }
}

.search-results {
  margin-bottom: var(--spacing-large);

  h1 {
    font-size: 1.75rem;
    margin-top: 0;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  p {
    margin: 0 0 var(--spacing) 0;
  }

  table {
    border-collapse: collapse;
    margin-bottom: var(--spacing-large);
    width: 100%;
  }

  tr {
    display: block;
    padding: var(--spacing-small);

    &:nth-child(odd) {
      background-color: var(--white);
    }

    @include breakpoint(40rem) {
      display: table-row;
    }
  }

  th,
  td {
    display: block;
    text-align: left;

    @include breakpoint(40rem) {
      display: table-cell;
      padding: var(--spacing-small);
      vertical-align: top;
    }
  }

  caption {
    border: var(--spacing-tiny) solid transparent;
    caption-side: bottom;
    font-size: 80%;
    padding: var(--spacing-tiny);
    text-align: left;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  figure {
    margin: 0;
  }

  pre {
    background: var(--white);
    overflow-x: scroll;
    margin: 0;
    padding: var(--spacing-small);
  }

  figcaption {
    font-size: 80%;
    margin: var(--spacing-small) 0 0 0;
  }
}

.app-footer {
  border-top: var(--spacing-tiny) solid var(--white);
  color: var(--white);
  padding: var(--spacing);

  p {
    margin: 0 0 var(--spacing) 0;
  }

  abbr {
    text-decoration: none;
  }

  small {
    font-size: 1rem;
  }

  a {
    color: var(--quill-gray);

    &:focus,
    &:hover {
      color: var(--white);
    }
  }
}
