:root {
  --body-font: "Gentium Book Basic", serif;
  --title-font: "Alfa Slab One", serif;

  --spacing-tiny: 0.375rem;
  --spacing-small: 0.75rem;
  --spacing: 1.5rem;
  --spacing-large: 3rem;

  --blumline: #195b69;
  --gray: #898989;
  --pomegrante: #f44b1a;
  --quill-gray: #d4d4d2;
  --rock-spray: #be3405;
  --shark: #282b32;
  --white: #fff;
}
